<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= comment.from_user.name + ' Рейтинг ' + comment.rating.to_s %></h3>
  </div>
  <div class="panel-body">
    <label>Заказ № <%= comment.order.id%></label>
    <%= comment.body %>
  </div>
</div>