<h1>Мой профиль</h1>

Имя: <b><%= @user.name %></b>
<p>
  Фамилия: <b><%= @user.surname %></b>
</p>
<p>
  Телефон: <b><%= @user.phone %></b>
</p>
<p>
  Рейтинг: <b>*******</b>
</p>
<p>
  Количество сделок: <b>#</b>
</p>