				<article>
		        <div class="row">
		            <div class="col-sm-6 col-md-4">
		                <figure>
		                    <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg">
		                </figure>
		            </div>
		            <div class="col-sm-6 col-md-8">
		                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
		                <h4><%= order.user.name %></h4>
		                <p><%= order.about %></p>
		                <section>
		                    <i class="glyphicon glyphicon-folder-open"></i>Bootstrap
		                    <i class="glyphicon glyphicon-user"></i>RaymondDragon
		                    <i class="glyphicon glyphicon-calendar"></i>1395/12/21
		                    <i class="glyphicon glyphicon-eye-open"></i>10000
		                    <a href="#" class="btn btn-default btn-sm pull-right">More ... </a>
		                </section>
		            </div>
		        </div>
		    </article>