<div class="container">
  <div class="row">
    <% if user_signed_in? %>
        <% if current_user.role == 'customer' %>
            <% if @orders.empty? %>
                <h1>У ВАС ПОКА НЕТ ЗАКАЗОВ</h1>
            <% else %>
                <%= render @orders.reverse %>
            <% end %>
        <% elsif current_user.role == 'worker' %>
            <% if @orders.empty? %>
                <h1>ПОКА НЕТ ЗАКАЗОВ</h1>
            <% else %>
                <%= render @orders.reverse %>
            <% end %>
        <% end %>
    <% else %>
        <%= render partial: 'promo', collection: @orders.reverse, as: :order %>
    <% end %>
  </div>
</div>