<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        	<div class="well">
        		<h2 class="text-warning">ЗАКАЗ</h2>
        		<p><span class="label label-success"><%= @order.status %></span></p>
        		<ul>
        			<li>Откуда: ----</li>
        			<li>Куда:   -----</li>
        			<li>Что:    -----</li>
                    <li>Цена:   -----</li>
        		</ul>          
        		<p>ОПИСАНИЕ, ДОПОЛНЕНИЕ ".....,"</p>
        		<hr>
        		<hr>
        		<p><a class="btn btn-success btn-lg" href="#"><i class="icon-ok"></i> ПРИНЯТЬ</a></p>
        	</div>
        </div>
	</div>
</div>