<div class="row">
  <div class="col-md-7">
    <div class="page-header">
    </div>
    <div class="comments-list">
      <div class="media">
        <p class="pull-right">
          <small>5 days ago</small>
        </p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/1/">
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name"><%= offer.user.name %></h4>
          <%= offer.about %>
          <p>
            <small>
              <%= link_to 'удалить', offer_path(offer), method: 'delete' if can? :destroy, offer %>
              <%= link_to 'изменить', edit_offer_path(offer) if can? :update, offer %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>