<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to root_path do %>
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-road"></span>ВСЕ ЗАКАЗЫ
          <% end %>
        </li>
        <li class="active">
          <%= link_to "#" do %>
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span>МОИ ЗАКАЗЫ
          <% end %>
        </li>
        <li class="active">
          <%= link_to my_profile_path, id: 'my_profile' do %>
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity ic-user glyphicon glyphicon-user"></span>МОЙ ПРОФИЛЬ
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>